@charset "utf-8";
body{
   color:#EAEAEA;
   font-family: : "Century Gothic";
}
#bodyBackground{
   width:100%;
   height: 100%;
   position: relative;
   overflow: hidden;
}
#bodyBackground video{
   position: fixed;
   left: 50%;
   top: 50%;
   min-width: 100%;
   min-height: 100%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   z-index: -1;
}

#nav > ul > li{
   display: inline-block;
   margin-left: 1em;
   padding:12px;
   color:#EAEAEA;
   line-height: 3.5em;
   letter-spacing: :2px;
   text-transform: uppercase;
   font-size:33px;
}
#nav button{
   border:none;
   background-color: transparent;
   color:#EAEAEA;
   letter-spacing: :2px;
   text-transform: uppercase;
   font-size:33px;
   font-family: "Century Gothic";
}
.container #nav{
	position:static;
	right: none;
	text-align:center;
	padding:30px;
}
#banner{
	overflow:hidden;
	width: 1000px;
	margin:0px auto;
    background: rgba(75,73,71, 0.9);
    padding: 70px 70px;
}
#banner h1{
	text-transform: uppercase;
	text-align: center;
	font-size:90px;
}
#banner p{
	font-size:32px;
	text-align: justify;
	letter-spacing: -1;
}
#li2{
	color:#e6301d;
}
#li3{
	color:#4197e8;
}
#li4{
	color:#FF6B00;
}
footer{
   margin-top: 50px;
   font-family: "Century Gothic";
   text-align: center;
   font-size: 11px;
}